@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Barlow", sans-serif;
}


body {
    background-image: url(/images/background.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: opacity 1s ease;
}

.mid {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    gap: 30px;
    height: 80vh;
    animation: glow 1s ease-in-out infinite alternate, fadeIn 1s ease-out forwards;
}


.main-text {
    font-size: 10em;
    font-weight: 900;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    letter-spacing: -13px;
}

.main-text span {
    display: inline;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info h1 {
    font-size: 3em;
    font-weight: 700;
    margin: 0;
}

.info p {
    font-weight: 600;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.3), 0 0 20px rgba(255, 255, 255, 0.2);
    }

    to {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0.2), 0 0 30px rgba(224, 222, 222, 0.3);
    }
}

.input-field {
    display: flex;
    flex-direction: column;
    margin: 6px;
}

.input-field input {
    border: none;
    border-radius: 15px;
    background: white;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    width: 80%;
    align-self: center;
    font-weight: 900;
    opacity: 0;
}

.navbar {
    display: flex;
    justify-content: right;
}

.login-container {
    width: 200px;
    margin: 15px;
    justify-content: center;
}

.login {
    font-size: 15px;
    height: 35px;
    transition: .2s;
    box-shadow: 0px 0px 30px 5px rgba(255, 255, 255, 0.2);
    animation-delay: 0.7s;
    animation: fadeIn 2s ease-out forwards;
}

.login:hover {
    box-shadow: 0px 0px 60px 15px rgba(255, 255, 255, 0.2);
    width: 100%;
    font-size: 16px;
}

.rechtliches {
    color: rgba(222, 222, 222);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 70px;
    animation: fadeIn 2s ease-out forwards;
}

.rechtliches>div {
    position: relative;
    cursor: pointer;
    animation: glow 1s ease-in-out infinite alternate;
}

.rechtliches>div::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: rgba(222, 222, 222);
    transition: width 0.3s ease;
}

.rechtliches>div:hover::after {
    width: 100%;
}

.rechtliches>div a {
    color: rgba(222, 222, 222);
    text-decoration: none;
}

.glitch {
    animation: glitch 1s linear infinite;

}

@keyframes glitch {

    2%,
    64% {
        transform: translate(2px, 0) skew(0deg);
    }

    4%,
    60% {
        transform: translate(-2px, 0) skew(0deg);
    }

    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

.glitch:before,
.glitch:after {
    content: attr(title);
    position: absolute;
    left: 0;
}

.glitch:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {

    2%,
    64% {
        transform: translate(2px, -2px);
    }

    4%,
    60% {
        transform: translate(-2px, 2px);
    }

    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

.glitch:after {
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {

    2%,
    64% {
        transform: translate(-2px, 0);
    }

    4%,
    60% {
        transform: translate(-2px, 0);
    }

    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}