@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Barlow", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #3573a5;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    --table-text-color: rgb(69, 69, 69);
    --table-border: rgb(199, 197, 197);

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
    --table-text-color: #CCC;
    --table-border: #3A3B3C;
}

.headline {
    font-size: 45px;
    font-weight: 500;
    color: var(--text-color);
    padding-top: 20px;
    padding-bottom: 40px;
}

tfoot {
    background-color: var(--primary-color);
    color: #fff;
}

tbody {
    background-color: none;
}

table {
    border-collapse: collapse;
    border: none;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 410;
    letter-spacing: 0.3px;
    text-align: left;
    width: 100%;
    opacity: 0;
    transition: 0.2s;
    color: var(--table-text-color);
    table-layout: auto;
}

#table_resize th:first-child,
#table_resize td:first-child {
    width: 50px !important;
}

caption {
    caption-side: bottom;
    padding: 10px;
    opacity: 0;
    transition: 0.2s;
}

caption:hover {
    text-decoration: underline;
    cursor: pointer;
}

th,
td {
    border: 1px solid var(--table-border);
    border-right: none;
    border-left: none;
    padding: 11px 10px;
}

th {
    border: none;
}

td {
    text-align: left;
    white-space: nowrap;
}

caption {
    text-align: right;
}

td:hover {
    text-decoration: underline;
    cursor: pointer;
}

.empty-table td:hover {
    cursor: default;
}

tr:hover {
    background-color: var(--primary-color-light);
}

.empty-table :hover {
    background-color: transparent;
}

.search-box {
    display: flex;
    flex-direction: row;
    background: var(--primary-color-light);
    border-radius: 6px;
    height: 30px;
    margin-bottom: 10px;
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    color: var(--text-color);
}

.search-box i {
    align-self: center;
    margin: 10px;
    color: var(--text-color);
}

.empty {
    opacity: 0;
    top: 320px;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: 500;
    position: fixed;
    width: 200px;
    color: var(--table-text-color);
}

.empty * {
    align-self: center;
}

.empty i {
    font-size: 50px;
    margin: 10px;
}

.empty {
    left: calc(50vw - (200px / 2));
}

.loader {
    left: calc(50vw - (40px / 2));
}

input[type="checkbox"] {
    accent-color: var(--primary-color);
    transform: scale(1.3);
}

/* HTML: <div class="loader"></div> */
.loader {
    transition: 0.2s;
    opacity: 1;
    position: fixed;
    top: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 5px solid var(--text-color);
    animation:
        l20-1 0.8s infinite linear alternate,
        l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
    }

    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
    }
}

@keyframes l20-2 {
    0% {
        transform: scaleY(1) rotate(0deg)
    }

    49.99% {
        transform: scaleY(1) rotate(135deg)
    }

    50% {
        transform: scaleY(-1) rotate(0deg)
    }

    100% {
        transform: scaleY(-1) rotate(-135deg)
    }
}

/* Page arrows */

table caption i {
    font-size: 20px;
}

/* Code for resizable table content */

.y_resize {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 102%;
    background: transparent;
    cursor: col-resize;
}

.y_resize::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2vw;
    width: 70px;
    height: 102%;
    cursor: col-resize;
}

.y_resize:hover::before {
    position: absolute;
    cursor: col-resize;
}

.y_resize:hover {
    background: var(--text-color);
    opacity: 0.3;
}

.gp-header {
    font-family: georgia;
    font-size: 40px;
    color: #555;
    font-style: italic;
    margin-top: 31px;
    margin-bottom: 30px;
}

.gp-footer {
    position: fixed;
    color: #111;
    bottom: 10px;
    left: 50%;
    font-family: georgia;
    font-style: italic;
    transform: translateX(-50%);
}

.gp-footer .soc_icons {
    display: inline-block;
    color: #333;
    margin: 0px 0px;
}